<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <h1>Input Graph</h1>

    <a href="input/template">Graph Templates</a>
    <a href="input/custom">Custom Graph</a>
    <a href="input/upload">Upload File</a>
</body>
</html>