<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script>
        function runCode() {
            weight = true
            data = { weight }
            fetch("/input/testPost", {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            }).then((res) => {
                return res.text()
            }).then((html) => {
                document.open()
                document.write(html)
                document.close()
            });
        }
    </script>
</head>
<body>
    <button onclick="runCode()">Click me</button>
</body>
</html>